.bash_history
.chocolatey/
.dotnet/
.gitconfig
.lunarclient/
.nanorc
.ssh/
.vscode/
AppData/
Contacts/
Documents/
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT
NTUSER.DAT{2cf607e5-6769-11ef-9f3e-d4548b5cc64a}.TM.blf
NTUSER.DAT{2cf607e5-6769-11ef-9f3e-d4548b5cc64a}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{2cf607e5-6769-11ef-9f3e-d4548b5cc64a}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Saved Games/
Searches/
Videos/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
xml.xml

